<div id="menu-bar">
    <img ng-src={{seller.src}}>
<ul>
   

</ul>
</div>


<div class="sellwall">
    <img image="responsive" src="{{wall.src}}">
</div>

<div class="container circle">
    <div class="row">

    </div>
</div>


<div class="footer">
        <div class="footyback">
                <div class="firstfoot">
                    <a href=""><img src="img/g319.png"></a>
                    <a href=""><img src="img/g430.png"></a>
                    <a href=""><img src="img/g531.png"></a>
    
                </div>
            <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-12 footcol">
                                <div class="col-md-3 footcol">
                                    
                                        <div class="footheader">
                                            <h4>ABOUT US</h4>
                                        </div>
                                   
                                        <div class="footcontent">
                                            <a href=""><h5>About</h5></a>
                                            <a href=""><h5>About Us</h5></a>
                                            <a href=""><h5>The Team</h5></a>
                                        </div>
                                </div>
                                <div class="col-md-3 footcol">
                                        <div class="footheader">
                                            <h4>HELP AND INFORMATION</h4>
                                        </div>
    
                                        <div class="footcontent">
                                            <a href=""><h5>Help</h5></a>
                                            <a href=""><h5>Delivery and Returns</h5></a>
                                        </div>
                                </div>
                            </div>
                        </div>
            </div>
            
        </div>
    </div>
